.sign-up-content {
  text-align: center;
  --padding-bottom: 16px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 16px;

  .auth-title {
    padding-left: 5vw;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    --padding-bottom: 8px;
    text-align: left;
  }.logo {
  
    width: 60vw;
    
    
  }
  .sign-in{
    position: absolute;
    width: 246px;
    height: 20px;
    left: calc(50% - 246px/2 + 0.5px);
    top: calc(90% - 10px/2);

    /* Regular/None/Medium */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Sky/White */
    color: #FFFFFF;
  }

  .social-auth-options {
    .options-divider {
  		text-align: center;
    }
  }

  .inputs-list {
    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      margin: 16px 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        font-size: 16px;
        padding-inline-end: 8px;
      }
    }
  }

  .sign-up-btn {
    margin: 16px 0px;
  }

  .sign-in-btn-wrapper {
    justify-content: flex-end;
    align-items: center;

    .sign-in-btn {
      --padding-end: 0px;
    }
  }
}
